.gallery-image {
  transition: transform 0.3s ease;
  border-radius: 8px;
  cursor: pointer;
}

.gallery-image:hover {
  transform: scale(1.03);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}


.modal-content {
  position: relative;
  padding: 20px;
  border-radius: 8px;
}

.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
}

.modal-image {
  width: 100%;
  height: auto;
}

.modal-close {
  position: absolute;
  top: -5px;
  right: 15px;
  border: none;
  background: transparent;
  font-size: 50px;
  cursor: pointer;
  color: white;
}

.imgText {
  font-family: 'Karla', sans-serif;
  color: #4D4D4D;
  font-size: 20px;
}
.feedback-section{
  text-decoration: none;
  color: green;
}
.feedback-section:hover {
  text-decoration: underline;
}
