.topspacing {
  padding-top: 48px;
}
.custom-heading {
    font-family: 'Spectral', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: rgb(0, 102, 0);;
     
  }

  .subtext{
    font-size: 20px;
    color: #808000;

  }

  .link1{
    color: #808000;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Heading{
    font-family: 'Spectral', serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 54.6px;
    color: #4D4D4D;
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .image-section img {
      width: 95%;
      height: 95%;
      object-fit: cover;
  }
  .h3{
    font-family: 'Spectral', serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 38.6px;
    color: #4D4D4D;
  }

  .para{
    font-family: 'Karla', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #4D4D4D;
    line-height: 36px;
  }
  .link{
    text-decoration: none;
    color: green;
  }


  .link:hover,
  .link1:hover {
      color: rgb(0, 102, 0);; 
  }

  @media (max-width: 768px) {
    .topspacing{
      padding-top: 16px;
    }
    .custom-heading {
      margin-top: 25px;
      font-size: 32px; 
    }
    .subtext{
      font-size: 13px;
    }

    .para{
      font-size: 16px;
    }
    .Heading{
      font-size: 20px;
      margin-top: 16px;
      margin-bottom: 16px;
      
    }
  }
  