.footer{
    background-color: #003300;
}
.footer-container{
    
    width: 100%;
    margin-top: 5%;
    margin-bottom: -10px;
}
.footer-text{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:23.8px;
}
.footer-heading{
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height:30.6px;
}
.footer-link {
    color: white;
    text-decoration: none;
}
.footer-link:hover {
  text-decoration: underline; 
}